<div>
    <h3>CADASTRO DE RESTAURANTE</h3>
    <fieldset>
        <legend>Dados</legend>
        <div class="form-container">
            <mat-form-field>
                <input matInput
                       placeholder="Nome do restaurante"
                       [(ngModel)]="restaurante.nome">
            </mat-form-field>
        </div>
        <div class="button-row">
            <button mat-flat-button
                    color="warn"
                    [routerLink]="['/restaurantes']">
                <mat-icon>undo</mat-icon>Cancelar
            </button>
            <button mat-flat-button
                    color="accent"
                    (click)="insertOrUpdate()">
                <mat-icon>save</mat-icon>Salvar
            </button>
        </div>
    </fieldset>
</div>