<div>
  <h3>PRATOS</h3>
  <button mat-flat-button color="accent" [routerLink]="['/prato']">
    <mat-icon>add</mat-icon>Cadastrar novo prato
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="(processando)"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="(!processando)">
    <!-- Position Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="chamarExclusao(element)">
          <mat-icon aria-label="Deletar">remove</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" [routerLink]="['/prato', element.id]">
          <mat-icon aria-label="Editar">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="restaurante">
      <th mat-header-cell *matHeaderCellDef> Restaurante </th>
      <td mat-cell *matCellDef="let element"> {{element.restaurante.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="prato">
      <th mat-header-cell *matHeaderCellDef> Prato </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>