<div>
  <h3>CADASTRO DE RESTAURANTE</h3>
  <fieldset>
    <legend>Filtros</legend>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Nome" required>
      </mat-form-field>
    </div>
    <div class="button-row">
      <button mat-flat-button color="primary">
        <mat-icon>search</mat-icon>Pesquisar
      </button>
      <button mat-flat-button color="accent">
        <mat-icon>add</mat-icon>Cadastrar novo restaurante
      </button>
    </div>
  </fieldset>
</div>